@import "tailwindcss";

@theme {
  --color-purple-50: #faf5ff;
  --color-purple-100: #e9d8fd;
  --color-purple-200: #d6bcfa;
  --color-purple-300: #b794f4;
  --color-purple-400: #9f7aea;
  --color-purple-500: #805ad5;
  --color-purple-600: #6b46c1;
  --color-purple-700: #553c9a;
  --color-purple-800: #44337a;
  --color-purple-900: #322659;
}

